<div class="row">
  <div class="col-md-12">
    <div class="row moods">
      <div class="col-xs-6 mood" ng-repeat="mood in $ctrl.moods"  ng-click="mood.selected = !mood.selected">
        <div class="inner" ng-class="{'isSelected': mood.selected}">
          <span ng-if="mood.selected" class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
          <span ng-if="!mood.selected" class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
          {{mood.type.title}}
        </div>
      </div>
    </div>
  </div>
</div>
